<div class="container-fluid whisper-gray">
  <div class="row">
    <div class="col-xs-12 text-center half-spaced half-spaced-bottom">
      <small class="smaller hidden-xs">Copyright &copy; Sathishkumar Jayaraj. All Rights Reserved.</small>
      <p class="visible-xs">
        <small class="smaller">Copyright &copy; Sathishkumar Jayaraj.</small>
        <br />
        <small class="smaller half-spaced">All Rights Reserved.</small>
      </p>
    </div>
  </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
