<div class="row">
	<div class="col-md-8 col-sm-10 col-xs-12 col-centered">
		<h1>About Me</h1>
		<p class="spaced-bottom"><small class="smaller underline">Updated on: 19, Nov 2017</small></p>
		<p>I started off with Rails but now use whatever feels right like PHP or Node. I have worked with technologies like Rails, React, Loopback & also pretty comfortable with server management tools like AWS, Docker.</p>
		<p>I code for food, fast internet, noise canceling headphones, a comfortable chair and desk. Pretty basic needs. Truly.</p>
		<p>Currently working at <a href="https://pipecandy.com/" target="_blank" rel="noreferrer noopener" class="anchor">PipeCandy</a>. Previously worked at <a href="https://contractiq.com" target="_blank" rel="noreferrer noopener" class="anchor">ContractIQ</a> and <a href="https://www.ideas2it.com/" target="_blank" rel="noreferrer noopener" class="anchor">Ideas2it</a>.</p>
		<p>You can reach out to me at <a class="underline anchor" href="mailto:sathishkumar437@gmail.com">sathishkumar437@gmail.com</a></p>
	</div>
	<div class="col-md-8 col-sm-10 col-xs-12 col-centered extra-spaced">
		<h2 class="spaced-bottom">Technologies I've used</h2>
		<div class="row">
			<div class="col-xs-12 col-centered">
				<p class="dark">UI frameworks: <span class="default">Twitter Bootstrap, Materialize CSS, ANT design</span></p>
			</div>
			<div class="col-xs-12 col-centered half-spaced">
				<p class="dark">Backend: <span class="default">Ruby On Rails, Nodejs</span></p>
			</div>
			<div class="col-xs-12 col-centered half-spaced">
				<p class="dark">Frontend: <span class="default">React</span></p>
			</div>
			<div class="col-xs-12 col-centered half-spaced">
				<p class="dark">Marketing: <span class="default">SEO, Google Analytics, Google Tag Manager, Google Webmaster, Page speed and content optimization</span></p>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-sm-10 col-xs-12 col-centered social-links extra-spaced">
		<h2 class="spaced-bottom">Social Presence</h2>
		<small>
			<a class="underline" title="Visit me on Facebook" href="https://facebook.com/sathishkumar437" target="_blank">Facebook</a>
		</small>
		<small>
			<a class="underline" title="Visit me on LinkedIn" href="https://www.linkedin.com/in/sathishkumar-jayaraj" target="_blank">LinkedIn</a>
		</small>
		<small>
			<a class="underline" title="Visit me on GitHub" href="https://github.com/sathishkumar-jayaraj" target="_blank">Github</a>
		</small>
		<small>
			<a class="underline" title="Visit me on AngelList" href="https://angel.co/sathishkumar-jayaraj" target="_blank">Angel.co</a>
		</small>
		<small>
			<a class="underline" title="Visit me on Twitter" href="https://twitter.com/sathish_jayaraj" target="_blank">Twitter</a>
		</small>
		<small>
			<a class="underline" title="Visit me on Instagram" href="https://instagram.com/sathishkumar_jayaraj" target="_blank">Instagram</a>
		</small>
		<small>
			<a class="underline" title="Visit me on Stack Overflow" href="https://stackoverflow.com/users/4745028/sathishkumar-jayaraj" target="_blank">Stackoverflow</a>
		</small>
	</div>
</div>
