<% dateType = page_type === 'day' ? Date.new(year, month, day).strftime('%b %e %Y') :
  page_type === 'month' ? Date.new(year, month, 1).strftime('%b %Y') :
  page_type === 'year' ? year : '' %>
<div class="row large-spaced">
  <div class="col-md-8 col-sm-10 col-xs-12 col-centered">
    <h1>Archive for <%= dateType %></h1>
    <ol>
      <% page_articles.each_with_index do |article, i| %>
        <li class="half-spaced">
          <%= link_to article.title, article %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
