<div class="row large-spaced">
  <div class="col-md-8 col-sm-10 col-xs-12 col-centered">
    <h1>Articles tagged '<%= tagname %>'</h1>
    <ol>
      <% page_articles.each do |article| %>
        <li class="half-spaced">
          <%= link_to article.title, article %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
